table thead tr th:first-child{
    width: 5%;
}
table thead tr th:nth-child(2){
    width: 20%;
}

/* modal CSS */
.modal-dialog{
    width: 500px;
}

#add-new .update-dthms{
    position: relative;
}
#add-new .update-dthms .search-glypicon{
    position: absolute;
    top: 9px;
    right: 25px;
}

