
/* gwFao.html 검색바 직원정보란 넓이조절 */
.nwt-search-form .frmGroup2-2 select {
    margin-right: 7px;
    width: calc(30% - 7px);
}
.nwt-search-form .frmGroup2-2 label[for="frmDtEnd"] {
    width: 15px;
    text-align: center;
}	
.nwt-search-form .frmGroup2-2 input {
    width: 70%;
}




/* modal CSS */
.modal-body{
    width: 598px;
    height: 575px;
}
.bizfao-address{
    border-bottom: 1px solid #ddd;
    /* background-color: red; */
    padding-bottom: 10px;
    margin-bottom: 20px;
    overflow: hidden;
}
.bizfao-address:last-child{
    border-bottom: 0px;
}
#add-new .modal-dialog .modal-content .modal-body .bizfao-address > div{
    float: left;
    margin-right: 35px;
}
#add-new .modal-dialog .modal-content .modal-body .bizfao-address > div:last-child{
    margin-right: 0;
}
.bizfao-address-unit > div {
    float: left;
    margin-bottom: 10px;
}
.bizfao-address div p{
    color: #888;
}
.bizfao-address .bizfao-address-unit{
    overflow: hidden;
}
.bizfao-address .bizfao-address-unit .bizfao-label{
    width: 80px;
    margin-right: 5px;
}
.bizfao-address .bizfao-address-unit .bizfao-input{
width: 175px;
}

/* 멀티셀렉터 css */
.bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*=col-] {
    height: 28px;
}
.bootstrap-select>.dropdown-toggle.bs-placeholder, .bootstrap-select>.dropdown-toggle.bs-placeholder:active, .bootstrap-select>.dropdown-toggle.bs-placeholder:focus, .bootstrap-select>.dropdown-toggle.bs-placeholder:hover {
    height: 28px;
}
.btn-group > .btn:first-child {
    height: 28px;
}
.bootstrap-select.btn-group .dropdown-toggle .filter-option {
    font-size: 12px !important;
    padding: 0px !important;
    margin: 0 !important;
  
}
.bootstrap-select button {
    padding-bottom: 0;
}
.multiSelectOption{
    margin-top: 5px;
    margin-bottom: 5px;
}