
#data-update .margin-bottom input {
    /* margin-bottom: 15px; */
    width: 1000px;
}

#add-new .modal-dialog,
#data-update .modal-dialog {
    width: 900px;
}

/* 리스트 질문답변 내용 길어질경우 */
.table{
    table-layout: fixed;
}
.overText{
    overflow:hidden; 
    text-overflow:ellipsis; 
    white-space:nowrap;
}