.guide-content-area{
    width: 70%;
    margin: 0 auto;
}
.guide-content-area img{
    margin: 0 auto;
    display: block;
}
.guide-content-area > div {
    text-align: center;
}
.guide-content-area > div > p{
    margin-top: 100px;
    font-weight: bold;
    color: #333;
    font-size: 15px;
}
.guide-content-area div p span{
    font-size: 20px;
    color: #CD1F48
}

/* 링크하기 */
.guide-content-area .link-area h3{
    margin-top: 200px;
}




/* 부품대금청구서 작성방법안내  */
.bill-area{
    width: 100%;
    margin: 0 auto;
}
.bill-area img{
    width: 100%;
    margin: 0 auto;
}


/* 인쇄 설정 안내 */
.print-area img{
    width: 60%;
}