.nwt-table{
    /* overflow-x: scroll; */
    /* white-space: nowrap; */
    width: 100%;
}


.nwt-table .table tr:nth-child(1) th:nth-child(4){
    /* width: 200px !important; */
}

/* 멀티셀렉터 css */
.bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*=col-] {
    height: 28px;
}
.bootstrap-select>.dropdown-toggle.bs-placeholder, .bootstrap-select>.dropdown-toggle.bs-placeholder:active, .bootstrap-select>.dropdown-toggle.bs-placeholder:focus, .bootstrap-select>.dropdown-toggle.bs-placeholder:hover {
    height: 28px;
}
.btn-group > .btn:first-child {
    height: 28px;
}
.bootstrap-select.btn-group .dropdown-toggle .filter-option {
    font-size: 12px !important;
    padding: 0px !important;
    margin: 0 !important;
  
}
.bootstrap-select button {
    padding-bottom: 0;
}
.multiSelectOption{
    margin-top: 5px;
    margin-bottom: 5px;
}