table > thead > tr > th.list-num{
    width:5%;
}
table > thead > tr > th.write-nm{
    width:10%;
}


.nwt-table-top .f-right button{
    margin-left: 8px;
}

.nwt-table-top .formulabtn{
    height: 34px !important;
}


/* 
.modal-body table{
    margin-top: 20px;
} */



.nwt-search-form .search-glypicon{
    position: relative;
    top: 7px; /*insulist.html :2px , insulist2.html :7px*/
    left: -20px;
    width: 0;
}


.modal-content{
    width: 650px;
}

.setting-table{
    width: 95%;
}

.setting-table button{
    width: 53px;
    height: 25px;
    padding: 3px 10px;
    font-size: 13px;
}

.setting-table select, .setting-table input{
    height: 20px;
    font-size: 13px;
}


.setting-table thead{
    border-top: 3px solid #ddd;
    border-bottom: 3px solid #ddd;
}
.setting-table thead tr{
    height: 45px;
}

.setting-table thead tr th{
    padding: 10px 5px;
}
.setting-table thead tr:first-child th{
    padding: 0px 5px;
}

.setting-table tbody tr{
    border-bottom: 1px solid #ddd;
}

.setting-table tbody tr td{
    padding: 10px 5px;
}


#setting-inventory .modal-dialog{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%)
}


#delet-modal .modal-content{
	width: 370px;
	position: absolute;
	top: 50%;
	left: 50%;
    transform: translate(-50%,-50%);
}


/* 글씨 안내려오도록 한 화면에 많이보여야한다고 한다면 아래 CSS 삭제 */
/* .nwt-table{
    overflow-x: scroll;
    white-space: nowrap;
    width: 100%;
} */

/* 리스트 가로 영역 변경 CSS */
.nwt-table-top .row .col-lg-6:first-child{
    width: 25%;
}